<p>
  <strong>Title:</strong>
  <%= @room.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @room.description %>
</p>
<iframe src="https://docs.google.com/document/d/14KmQu6MMklX4PFEvyx6Nh-Fn1xEDYp5Tj0HNAFha3E0/pub?embedded=true" width = "50%" height = "600px"></iframe>
<iframe src="https://docs.google.com/document/d/14KmQu6MMklX4PFEvyx6Nh-Fn1xEDYp5Tj0HNAFha3E0/pub?embedded=true"></iframe>