
<div class="navbar">
    <div class="navbar-inner">
    	<%= link_to 'CodeClass', '#', {:class => 'brand'} %>
	    <ul class="nav">
		    <li><%= link_to 'Home', root_path %></li>
		    <li><%= link_to 'Room List', rooms_path %></li>
		    <li><%= link_to 'About CodeClass', welcome_about_path %>
	    </ul>
    </div>
</div>